*{
    background-color: rgb(112, 111, 111);
}


input{
    font-size: 20px;
   
}
.btn {
    display: block;
    margin:0 auto;
    
    width: 30%;
    
}


.afficheur {
    display: block;
    margin:0 auto;
    padding:25px;
    width: 30%;
    

}
.afficheur input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
   border: 3px solid rgb(50, 118, 156);
   background-color: rgb(177, 174, 174);
}
button{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(50, 118, 156);
    border-radius: 60px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgb(50, 118, 156);
    color: #fff;
}
button:hover{
    background-color: black;
}
.C{
    margin-left: 105px;
    background-color: rgb(30, 58, 95);
}

